@media only screen and (max-width: 600px) {
  .board {
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    border: .5em solid rgb(27, 27, 27);
    position: absolute;
    left: 20vw;
    top: 50vh;
    display: flex;
    box-shadow: 10px 10px 30px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .7vw;
    background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
    transition: all.5s;
  

    .notActive {
      opacity: 50;
      cursor: cell;
      pointer-events: none;

      &:hover {
        pointer-events: none;
        cursor: auto;
      }
    }

    .blueFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: blue;
      box-shadow: 0 0 10px blue,
        0 0 20px blue,
        0 0 40px blue, ;
      border-top-left-radius: 100%;
      z-index: 1;
    }

    .redFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: red;
      box-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red, ;
      border-bottom-left-radius: 100%;
      z-index: 1;
    }

    .greenFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgb(0, 230, 0);
      box-shadow: 0 0 10px rgb(0, 230, 0),
        0 0 20px rgb(0, 230, 0),
        0 0 40px rgb(0, 230, 0), ;
      border-bottom-right-radius: 100%;
      z-index: 1;
    }

    .yellowFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: yellow;
      box-shadow: 0 0 10px yellow,
        0 0 20px yellow,
        0 0 40px yellow, ;
      border-top-right-radius: 100%;
      z-index: 1;
    }

    .button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      box-shadow: inset 0 0 10px #000000;
      transition: .3s;
    }

    .red {
      background-color: rgb(200, 0, 0);
      border-bottom-left-radius: 100%;

      &:hover {
        background-image: linear-gradient(170deg, red, rgba(black, 0));
      }
    }

    .green {
      background-color: green;
      border-bottom-right-radius: 100%;

      &:hover {
        background-image: linear-gradient(170deg, rgb(0, 230, 0), rgba(black, 0));
      }
    }

    .blue {
      background-color: rgb(0, 0, 150);
      border-top-left-radius: 100%;
      z-index: 1;

      &:hover {
        background-image: linear-gradient(10deg, blue, rgba(black, 0));

      }
    }

    .yellow {
      background-color: rgb(194, 194, 1);
      border-top-right-radius: 100%;

      &:hover {

        background-image: linear-gradient(10deg, yellow, rgba(black, 0));

      }
    }

  }
  
  .gameOver {
    text-shadow: 2px 2px 6px #ff0000;
    width: 80vw;
    height:  70vh;
    margin: auto;
    border: .5em solid rgb(27, 27, 27);
    position: relative;
    top: 15vh;
    color: rgb(212, 211, 211);
    display: flex;
    box-shadow: 10px 10px 30px black;
    display: grid;
    font-size: 2rem;
    letter-spacing: .2em;
    background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
    border-radius: .2em;
    padding: 1em;


    h1 {
      font-size: 3rem;
      margin-bottom: .5em;
    }

    h2 {
      font-size: 2rem;
    }

    .buttons {
      margin-top: -1.5em;

      button {
        padding: .5em;
        outline: none;
        background-color: burlywood;
        border: none;
        border-radius: .2em;
        margin-top: .5em;
        color: black;
        // font-size: 10vw;
        font-weight: bold;
        transition: .3s;

        &:hover {
          background-color: black;
          color: burlywood;
        }
      }
    }
  }

  
    .start {
      z-index: 2;
      position: absolute;
      top: 20%;
      left: 20%;
      background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
      color: #c89874;
      width: 30vw;
      height:30vw;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: solid 1vw rgb(26, 25, 25);
      font-size: 3vw;
      font-weight: bold;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-family: monospace;
      letter-spacing: .2em;
      cursor: pointer;
      transition: .3s;
      box-shadow:  0 0 10px #000000;
  
      &:hover {
        background-image: linear-gradient(180deg, rgba(rgb(66, 66, 66), 1), rgba(black, 3));
      }
  
      .timer {
        margin-top: 2vw;
        background-color: black;
        height: 3.2vw;
        width: 6vw;
        border-radius: .2em;
        color: rgb(143, 2, 2);
        text-shadow: 1px 1px 3px #ff0000;
        align-items: center;
        font-size: 2.5vw;
      }
    }
  

  .wrrapper{
    width: 80%;
    padding-left: 1em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.88);
    border: .5em solid #000000;
    box-sizing: border-box;
    border-radius: 2em;
    height: 40vh;
    position: relative;
    top: 40vh;
    left: 10vw;
    transform: translate(0, 10vh);
    display: flex;
    flex-direction: column;

    h1{
      font-size: 1em;
      margin-top: .5em;
    }
  }

  .info {
    width: 100vw;
    display: block;
    position: absolute;
    top: 5vw;
    margin: auto;
    text-shadow: #000000 1px 1px 3px;
  }


  

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arrow{
  transform: rotate(45deg);

}



  .gameOver {
    text-shadow: 2px 2px 6px #ff0000;
    width: 50vw;
    // height:  55vh;
    margin: auto;
    border: .5em solid rgb(27, 27, 27);
    position: relative;
    top: 15vh;
    color: rgb(212, 211, 211);
    display: flex;
    box-shadow: 10px 10px 30px black;
    display: grid;
    font-size: 3vw;
    letter-spacing: .2em;
    background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
    border-radius: .2em;
    padding: 1em;


    h1 {
      // margin-top: .5em;
      // margin-bottom: .3em;
    }

    .buttons {


      button {
        padding: 1em;
        outline: none;
        background-color: burlywood;
        border: none;
        border-radius: .2em;
        margin-top: 2em;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        transition: .3s;

        &:hover {
          background-color: black;
          color: burlywood;
        }
      }
    }
  }

  .start {
    z-index: 2;
    position: absolute;
    top: 24%;
    left: 24%;
    background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
    color: #c89874;
    width: 40vh;
    height:40vh;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1vw rgb(26, 25, 25);
    font-size: 3vw;
    font-weight: bold;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: monospace;
    letter-spacing: .2em;
    cursor: pointer;
    transition: .3s;
    box-shadow:  0 0 10px #000000;

    &:hover {
      background-image: linear-gradient(180deg, rgba(rgb(66, 66, 66), 1), rgba(black, 3));
    }

    .timer {
      margin-top: 2vw;
      background-color: black;
      height: 3.2vw;
      width: 6vw;
      border-radius: .2em;
      color: rgb(143, 2, 2);
      text-shadow: 1px 1px 3px #ff0000;
      align-items: center;
      font-size: 2.5vw;
    }
  }

  .info {
    width: 100vw;
    display: block;
    position: absolute;
    top: 5vw;
    margin: auto;
    text-shadow: #000000 1px 1px 3px;
  }


  .board {
    width: 80vh;
    height: 80vh;
    border-radius: 100%;
    border: .5em solid rgb(27, 27, 27);
    position: absolute;
    // left: 32.5vw;
    // top: 29vw;
    display: flex;
    box-shadow: 10px 10px 30px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .7vw;
    background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
    transition: all.5s;
  

    .notActive {
      opacity: 50;
      cursor: cell;
      pointer-events: none;

      &:hover {
        pointer-events: none;
        cursor: auto;
      }
    }

    .blueFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: blue;
      box-shadow: 0 0 10px blue,
        0 0 20px blue,
        0 0 40px blue, ;
      border-top-left-radius: 100%;
      z-index: 1;
    }

    .redFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: red;
      box-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red, ;
      border-bottom-left-radius: 100%;
      z-index: 1;
    }

    .greenFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgb(0, 230, 0);
      box-shadow: 0 0 10px rgb(0, 230, 0),
        0 0 20px rgb(0, 230, 0),
        0 0 40px rgb(0, 230, 0), ;
      border-bottom-right-radius: 100%;
      z-index: 1;
    }

    .yellowFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: yellow;
      box-shadow: 0 0 10px yellow,
        0 0 20px yellow,
        0 0 40px yellow, ;
      border-top-right-radius: 100%;
      z-index: 1;
    }

    .button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      box-shadow: inset 0 0 10px #000000;
      transition: .3s;
    }

    .red {
      background-color: rgb(200, 0, 0);
      border-bottom-left-radius: 100%;

      &:hover {
        background-image: linear-gradient(170deg, red, rgba(black, 0));
      }
    }

    .green {
      background-color: green;
      border-bottom-right-radius: 100%;

      &:hover {
        background-image: linear-gradient(170deg, rgb(0, 230, 0), rgba(black, 0));
      }
    }

    .blue {
      background-color: rgb(0, 0, 150);
      border-top-left-radius: 100%;
      z-index: 1;

      &:hover {
        background-image: linear-gradient(10deg, blue, rgba(black, 0));

      }
    }

    .yellow {
      background-color: rgb(194, 194, 1);
      border-top-right-radius: 100%;

      &:hover {

        background-image: linear-gradient(10deg, yellow, rgba(black, 0));

      }
    }

  }





@media only screen and ( max-width: 900px ) {

    .start {
      z-index: 2;
      position: absolute;
      top: 23%;
      left: 23%;
      background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
      color: #c89874;
      width: 27vw;
      height:27vw;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: solid 1vw rgb(26, 25, 25);
      font-size: 5vw;
      font-weight: bold;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-family: monospace;
      letter-spacing: .2em;
      cursor: pointer;
      transition: .3s;
      box-shadow:  0 0 10px #000000;
  
      &:hover {
        background-image: linear-gradient(180deg, rgba(rgb(66, 66, 66), 1), rgba(black, 3));
      }
  
      .timer {
        margin-top: 2vw;
        background-color: black;
        height: 5vw;
        width: 9vw;
        border-radius: .2em;
        color: rgb(143, 2, 2);
        text-shadow: 1px 1px 3px #ff0000;
        align-items: center;
        font-size: 4vw;
      }
    }
  
  
  
  
  .info {
    width: 100vw;
    display: block;
    position: absolute;
    top: 5vw;
    margin: auto;
    text-shadow: #000000 1px 1px 3px;
  }

  .wrrapper{
    padding-left: 14%;

    .backButton{
      left:5%;
      font-size:.7rem;
    }
  }
  
  
  .board {
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
    border: .5em solid rgb(27, 27, 27);
    position: absolute;
    // left: 32.5vw;
    top: 13vh;
    display: flex;
    box-shadow: 10px 10px 30px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .7vw;
    background-image: linear-gradient(90deg, rgba(rgb(37, 37, 37), 1), rgba(black, 3));
    transition: all.5s;
  
  
    .notActive {
      opacity: 50;
      cursor: cell;
      pointer-events: none;
  
      &:hover {
        pointer-events: none;
        cursor: auto;
      }
    }
  
    .blueFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: blue;
      box-shadow: 0 0 10px blue,
        0 0 20px blue,
        0 0 40px blue, ;
      border-top-left-radius: 100%;
      z-index: 1;
    }
  
    .redFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: red;
      box-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red, ;
      border-bottom-left-radius: 100%;
      z-index: 1;
    }
  
    .greenFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgb(0, 230, 0);
      box-shadow: 0 0 10px rgb(0, 230, 0),
        0 0 20px rgb(0, 230, 0),
        0 0 40px rgb(0, 230, 0), ;
      border-bottom-right-radius: 100%;
      z-index: 1;
    }
  
    .yellowFlash {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: yellow;
      box-shadow: 0 0 10px yellow,
        0 0 20px yellow,
        0 0 40px yellow, ;
      border-top-right-radius: 100%;
      z-index: 1;
    }
  
    .button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      box-shadow: inset 0 0 10px #000000;
      transition: .3s;
    }
  
    .red {
      background-color: rgb(200, 0, 0);
      border-bottom-left-radius: 100%;
  
      &:hover {
        background-image: linear-gradient(170deg, red, rgba(black, 0));
      }
    }
  
    .green {
      background-color: green;
      border-bottom-right-radius: 100%;
  
      &:hover {
        background-image: linear-gradient(170deg, rgb(0, 230, 0), rgba(black, 0));
      }
    }
  
    .blue {
      background-color: rgb(0, 0, 150);
      border-top-left-radius: 100%;
      z-index: 1;
  
      &:hover {
        background-image: linear-gradient(10deg, blue, rgba(black, 0));
  
      }
    }
  
    .yellow {
      background-color: rgb(194, 194, 1);
      border-top-right-radius: 100%;
  
      &:hover {
  
        background-image: linear-gradient(10deg, yellow, rgba(black, 0));
  
      }
    }
  
  }
  
}



