table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  align-self: center;
  align-items: center;
  text-align: center;
}

td, th {
  border: 5px solid #080808;
  text-align: left;
  padding: .5em;
  background-color: #1f1f1f88;
  align-self: center;
  align-items: center;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #1f1f1fcc;
}